@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base pour le Cabinet Delacour */
body {
  margin: 0;
  background-color: #F9F9F7;
  color: #152822;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
